.radio {
    color: #000;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.radio::before {
}


.radio:checked::before {
}

.label {
    margin-left: 11px;
}

.options {
    display: flex;
    flex-direction: column;

}
