.buttonsContainer {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: center;

}

.editableSpanContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}