.greetingForm {
}

.inputAndButtonContainer {
    display: flex;
    gap: 20px;
}

.error {
    color: rgb(245, 19, 19);
}

.input {
    border: 1px solid rgb(172, 169, 169);
    height: 36px;
    border-radius: 10px;
    min-width: 350px;
    padding: 5px 10px;
    outline: none;
}

.input:focus {
}

.errorInput {
    border: 1px solid rgb(245, 19, 19);
    height: 36px;
    border-radius: 10px;
    min-width: 350px;
    padding: 5px 10px;
    outline: none;
}

.button {
    height: 36px;
    background-color: rgba(0, 102, 204, 1);
    border: none;
    color: white;
    padding: 5px 30px;
    border-radius: 10px;

}

.button:focus {
}

.button:active {
}

.button:disabled {
    opacity: .7;
}

.text {
    color: rgb(172, 169, 169);
    padding-bottom: 10px;
}

.greeting {
    
}
